<div class="col-md-2 col-sm-4 col-xs-4">
  <div>
    <h1>&nbsp;</h1>
    <br>
  </div>
  <div class="row">
    <ul class="nav nav-sidebar">
      <li class="active">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8">
              <h5><b>Intents</b></h5>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <span class="add-intent clickable" (click)="onAddIntent()"><a>＋</a></span>
            </div>
          </div>
        </div>
      </li>
      <li class="intents-list clickable" (click)="onIntentClick(intent._id)" *ngFor="let intent of intents">
        <span (click)="onIntentClick(intent._id)">{{intent.name}}<span class="del-intent clickable glyphicon glyphicon-trash" (click)="onDelIntent(intent._id)"></span></span>
      </li>
    </ul>
  </div>
</div>
<div class="col-md-10 col-sm-8 col-xs-8">
  <app-intent [intentId]="intentId" (updated)="onUpdate($event)"></app-intent>
</div>
