<div class="row">
  <div class="col-md-2 col-sm-2 col-xs-2 sidebar">
    <ul class="nav nav-sidebar">
      <li class="active">
        <span><h3>Intents<span class="add-intent"><a>＋</a></span></h3></span>
      </li>
      <li class="intents-list"*ngFor="let intent of intents">
        <a href="#">INTENT_NAME</a>
      </li>
    </ul>
  </div>
  <div class="col-md-9 col-sm-9 col-xs-9 main" *ngIf="intent">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h1>
          <input type="text" class=" intent-name" (ngModelChange)="onChange()" [(ngModel)]="intent.name">
        </h1>
      </div>
      <div class="col-md-7 col-sm-7 col-xs-7">
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3">
        <button class="save btn btn-default" [disabled]="saved" (click)="onSaveClicked()">SAVE</button>
      </div>
    </div>
    <hr>
    <form>
      <div class="form-group">
        <input type="text" class="input-normal form-control" name="sentence" [(ngModel)]="sentence" (ngModelChange)="onChange()" placeholder="例句" (keyup.enter)="addSentence()">
      </div>
    </form>
    <br>
    <div class="list-of-examples">
      <div *ngFor="let sentence of sentences; let idx = index" class="input-group">
        <input type="text" class="input-normal form-control" [id]="idx" [(ngModel)]="sentences[idx].data">
        <span class="input-group-addon span-clickable" [id]="idx" (click)="deleteSentence($event)">X</span>
      </div>
    </div>
  </div>
  <div class="col-md-1 col-sm-1 col-xs-1"></div>
</div>
