.clickable {
  cursor:  pointer;
}

.nav {
  font-size: 15px;
}

.item {
  font-size: 15px;
}

.intents-list {
  min-height: 15px;
  padding: 10px 0px 10px 20px;
}

.intents-list:hover {
  background-color: lightgrey;
}

.del-intent {
  font-size: 15px;
  margin-left: 10px;
  line-height: 1.1;
  top: 2px; /* fix icon bugs*/
  z-index: 1000px;
  color: #9fa1a3;
}

.del-intent:hover {
  color: black;
}

.add-intent {
  float: left;
  font-size: 15px;
  margin: 10px 0px 10px 0px;
  line-height: 1.1;
}

.add-intent a {
  text-decoration: none;
  color: #9fa1a3;
}

.add-intent a:hover {
  color: black;
  cursor: pointer;
}
